@charset 'utf-8';

.chatbot {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  background: rgba(206, 221, 99, 0.664);
}

.card-gap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chip-group button {
  border: none;
  padding: 5px;
  background: #d5d5;
}
.chip-group button.active {
  background: #ff7878;
}

textarea {
  padding: 5px;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.btn-wrap button {
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}

#generate-counsel-prompt-btn {
  border: none;
  background: #049000;
}

#copy-counsel-prompt-btn {
  border: none;
  background: #0f5;
}
