@charset 'utf-8';

.chatbot {
  width: 100%;
  height: 50px;
  border-radius: 20px;
  border: none;
  background: rgba(206, 221, 99, 0.664);
}

#chatbot,
#chip-group,
#img-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chip-group button.active {
  background: #ff7878;
}

#image-type-group {
  display: flex;
  justify-content: space-between;
}

#image-type-group button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: rgb(107, 107, 229);
}

#imagetext {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#imagetext input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

#img-style select {
  padding: 10px;
  border-radius: 10px;
}

.btn-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.btn-wrap button {
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
}

#generate-image-prompt-btn {
  border: none;
  background: #049000;
}

#copy-image-prompt-btn {
  border: none;
  background: #0f5;
}
